.select_ordini{
    float:left;
    width:200px;
}
.select_prodotti{
    float:left;
    width:200px;
}
.prodotti{
    position: relative;
    width:90%;
    margin-top: 2%;
}
.prodotto{
    width:100%;
    border: 2px solid red;
    height: 300px;
    position: relative;

}

.info{
    position: relative;
    height: 100%;
    width: 60%;
    float:left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.nome,.prezzo,.descrizione{
    margin: 5px;
}
.immagine{
    width:40%;
    float:right;
    height: 100%;
    position: relative;
}
.descrizione{
    height:150px;
}
.foto{
    height:80%;
    width:100%;
    object-fit: cover;
}
textarea{
    width:80%;
    height: 100%;
}
.salva{
    align-self: center;
}