.piu{
    cursor: pointer;
}
.meno{
    cursor: pointer;
    border:3px solid black;
    width:min-content;
    padding:3px;
}
.informazioni{
    width:50%;
    float:left;
}
.div_immagine_item{
    width:50%;
    float:right;
}
.item{
    position: relative;
    height:200px;
    margin:20px;
    border:gray 3px solid;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
}
.immagine_item{
    position:relative;
    width:50%;
}