body{
    margin: 0px;
    min-height: 100vh;
    position: relative;
    padding-bottom: 300px;
    box-sizing: border-box;
}

/* HEADER */
.header{
    height: 110px;
    width: 100%;
    position: relative;
    background-color: #f73f7b;
}

.home{
    height: 100%;
    width: 10%;
}

.ricerca{
    height: 100%;
    width: 70%;
}

.carrello{
    height: 100%;
    width: 10%;
}

.login{
    height: 100%;
    width: 10%;
}

.headerDiv{
    float:left;
}

.regoloDimensioni{
    height: 100%;
    width: 100%;
}


/* LOGO */
.logo h1{
    text-align: center;
}

/* GALLERY */

.animazione img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.animazione{
    position: relative;
    height: 500px;
    overflow: hidden;
}

/* Footer */

.footer{
    background-color: grey;
    color: white;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer a{
    color: white;
    text-decoration: none;
}

/* LOGOUT */

.logout {
    color:black;
    width: 100px;
    float: right;
}

.logout a{
    color:black;
}

/* stile per il selettore quantità */

.selettore_quantita{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.numero{
    width:30px;
    text-align: center;
}

.piu, .meno{
    cursor: pointer;
    border: 1px solid rgb(227,227,227);
    width: 10px;
    padding: 3px;
    background-color: #F9F9F9;
}