.primo{
color:red;
}
.secondo{
color:blue;
}


.ildiv{
height:100px;
background-color:red;}

.primadiv{
background-color:yellow !important;
width:33%;
float:left;
}

.secondadiv{
background-color:purple;
width:33%;
float:left;
}

.terzadiv{
background-color:lightgreen;
width:33%;
float:left;
}

.primadiv{
    background-color:green;
}
